<div class="avgPrice-directive">
    <table class="table table-bordered">
        <tr class="days">
            <th>District</th>
            <th>Avg Price [czk/m2]</th>
            <th>Count</th>
            <!-- pocect nehnutelnosti na predaj v districte-->
            <th>Avg Price</th>
            <th>Most Expensive Property in District</th>
            <th>Cheapest Property in District</th>
        </tr>
        <tr ng-repeat="districtValue in districtsStats | orderBy:'-AvgPriceMSquare'">
            <td>
                {{districtValue.district}}
            </td>
            <td>
                {{districtValue.avgPriceMSquare}}
            </td>
            <td>
                {{districtValue.count}}
            </td>
            <td>
                {{districtValue.avgPrice}}
            </td>
            <td>
                {{districtValue.mostExpensive.address.street}}, [{{districtValue.mostExpensive.area}} m2
                ,{{districtValue.mostExpensive.price}} czk]
            </td>
            <td>
                {{districtValue.cheapest.address.street}}, [{{districtValue.cheapest.area}} m2 ,{{districtValue.cheapest.price}}
                czk]
            </td>
        </tr>
    </table>


    <br/>
    <br/>
    <br/>

    <h1>Avg Prices in Streets by Districts</h1>
    <span ng-repeat="districtValues in streetStats ">
        <h2> {{districtValues.district}}</h2>
        <table class="table table-bordered">
            <tr class="days">
                <th>Street Name</th>
                <th>Avg Price [czk/m2]</th>
                <th>Count</th>
                <!-- pocect nehnutelnosti na predaj v ulici-->
                <th>Avg Price</th>
                <th>Most Expensive Property on Street</th>
                <th>Cheapest Property on Street</th>
            </tr>
            <tr ng-repeat="districtValue in districtValues.streets  | orderBy:'-AvgPriceMSquare' ">
                <td>
                    {{districtValue.street}}
                </td>
                <td>
                    {{districtValue.avgPriceMSquare}}
                </td>
                <td>
                    {{districtValue.count}}
                </td>
                <td>
                    {{districtValue.avgPrice}}
                </td>
                <td>
                    {{districtValue.mostExpensive.address.street}}, [{{districtValue.mostExpensive.area}} m2
                    ,{{districtValue.mostExpensive.price}} czk]
                </td>
                <td>
                    {{districtValue.cheapest.address.street}}, [{{districtValue.cheapest.area}} m2 ,{{districtValue.cheapest.price}}
                    czk]
                </td>
            </tr>
        </table>
    </span>

</div>
