.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar {
    border-radius: 0;
    padding: 8px;
    background: whitesmoke !important;
}

body {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

.map {
    padding-top: 60px;
}

.angular-google-map-container {
    height: 450px;
}

.properties {
    width: 40%;
    margin-right: 15px;
}

.search-directive {
    margin-bottom: 15px;
}

.active {
    color: red !important;
}

.table tr {
    cursor: pointer
}

.table table tr {
    cursor: default;
}

.sub-table {
    font-size: small;
    background: #FCF8E3;
}
